@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    animation: opa 0.5s ;
}
@keyframes opa {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.nav-active {
    font-weight: bold;  
}
.header-portrait {
    display: none;
} 
#nav-div {
    gap: 1vh;
    padding: 1vh 1vw;
    align-self: end;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    height: 100vh;
    font-size: 2.5vh;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: sidebar 0.3s linear;
}
@keyframes sidebar {
    0% {
        transform: translateX(50vw);
    }
    100% {
        transform: translateX(0vw);
    }
}
#nav-div button {
    color: white;
    border: none;
    font-size: 3vh;
    background-color: transparent;
}

#nav-div nav li , #nav-div nav li a{
    color: white;
    margin: 2vh 5vw;
    list-style: none;
    transition: 0.2s ease-out;
}
header {
    background-color: #ffffff;
    z-index: 1;
    top: 0;
    position: sticky;
    padding: 1.5vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0vh 0.2vh 1vh rgba(0, 0, 0, 0.1);
}
.header-icons {
    margin: 0 1vw;
    font-size: 2.2vh;
    
}
header nav {
    display: flex;
    position: relative;
    left: 10vw;
}
header img {
    height: 5vh;
}
header nav li, header nav li a{
    font-size: 2vh;
    font-family: "Poppins", sans-serif;
    margin: 0 1.5vh;
    list-style: none;
    text-decoration: none;
    color: #000000;
    transition: 0.2s ease-out;
}
header a:hover , #nav-div nav li a:hover {
    font-weight: bold;
}
.header-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#search-box {
    
    width: 10vw;
    border-radius: 1vh;
    height: 2vh;
    padding: 0.5vh;
    background-color: transparent;
    
}
.welcome-div {
    margin: 2vh;
    width: 98vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0,0.3)), url('Assets/Backgrounds/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.font-anton {
    font-family: "Anton", sans-serif;
}
.welcome-text {
    margin: 0 4vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: rtol_welcome-div 1.2s forwards;
}
@keyframes rtol_welcome-div {
    0%{
        transform: translateX(100vw);
        opacity: 0%;

    }
    100% {
        transform: translateX(0vw);
        opacity: 100%;
    }
}
.welcome-text h1 {
    line-height: 10vh;
    padding: 0;
    margin: 0;
    font-size: 12vh;
    color: #e9e9e9;
}
.welcome-text p {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 2.5vh;
}
.welcome-text a {
    display: flex;
    padding: 0;
    margin: 0;
    align-self: center;
}
#shop-btn {
    cursor: pointer;
    position: relative;
    top: 10vw;
    font-size: 2.5vh;
    padding: 1vh 2vw;
    background-color: #000000;
    color: white;
    border-radius: 0.7vh;
    border: none;
    transition: 0.2s ease-in;
}
#shop-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.7vh;
}
#collections {
    display: flex;
    justify-content: center;
    transform: translateX(-2vw);
    margin: 8vw 0;
}
#collections h1 {
    align-self: self-start;
    margin: 0;
    font-size: 8vh;
    writing-mode: vertical-rl;
    transform: rotate(180deg) translateX(-0.5vw);
}
.collections-parent-div {
    display: grid;
    gap: 0.3vw;
    grid-template-columns: 35vw 20vw 20vw;
    grid-template-rows: repeat(2, 35vh);
    padding: 0;
}
.collections-parent-div a {
    display: flex;
    background-size: 125%;
    justify-content: end;
    align-items: end;
    transition: background-size 2.5s ease-out;
    background-position: center;
}
.collections-parent-div a:hover {
    background-size: 140%;
}
.collections-parent-div a h2{
    color: #ffffff;
    margin: 2vw;
    font-size: 4vh;
}
.jacket-div {
    grid-row: span 2;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/Jacket-bg.jpg');
}
.pants-div {
    
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/Pants_bg.png');
}
.short-div {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/Short_bg.png');
}
.tshirt-div {
    grid-column: span 2;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/T-shirt_bg.png');
}
.banner {
    border: 1px solid black;
    color: #ffffff;
    position: relative;
    background-color: #000000;
    display: flex;
    padding: 1.5vw;
    width: 100vw;
}
.banner span {
    align-self: center;
    font-size: 2.5vh;
    position: absolute;
    margin: 0 2vw;
    animation: rtol 20s linear infinite;
    white-space: nowrap;
 }
 @keyframes rtol {
    0%{
        left: 200vw;
    }
    100% {
        left: -100vw;
    }
 }
 .banner span:nth-child(1) {
    animation-delay: -18s;
 }
 .banner span:nth-child(2) {
    animation-delay: -16s;
 }
 .banner span:nth-child(3) {
    animation-delay: -14s;
 }
 .banner span:nth-child(4) {
    animation-delay: -12s;
 }
 .banner span:nth-child(5) {
    animation-delay: -10s;
 }
 .banner span:nth-child(6) {
    animation-delay: -8s;
 }
 .banner span:nth-child(7) {
    animation-delay: -6s;
 }
 .banner span:nth-child(8) {
    animation-delay: -4s;
 }
 .banner span:nth-child(9) {
    animation-delay: -2s;
 }
 .banner span:nth-child(10) {
    animation-delay: 0s;
 }

 #trending-div {
    display: flex;
    flex-direction: column;
 }
 #trending-div h1{
    margin: 5vh 5vw;
    font-size: 5vh;
 }
 .trending-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
#Items_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
 .products-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    width: 20vw;
    height: 50vh;
    padding: 1vh;
    border: 0.5vh solid #000000;
    border-radius: 1vh;
    text-align: center;
    transition: box-shadow 0.2s ease-in;
    overflow: hidden;
 }
.products-div:hover {
    box-shadow: 1vh 1vh black;
 }
.products-div img {
    height: 34vh;
 }
 .product-name {
    display: flex;
    flex-direction: column;
    justify-self: end;
 }
.product-name h3{
    justify-self: center;
    align-self: center;
    margin: 0 ;
    width: 20vw;
    font-size: 2vh;
    flex-wrap: wrap;
 }
 .product-name span{
    
    font-size: 2.5vh;
 }
#view-all-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
    font-weight: bold;
    margin: 5vh 0 0 0;
    transition: 0.2s ease-out;
}
#view-all-btn:hover {
    color: #ff0008;
}

#trending-div a {
   align-self: center;
}
 #brands {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 hr {
    align-items: center;
    margin: 5vh auto 5vh auto;
    width: 30vw;
 }
#brands h1 {
    font-size: 7vh;
 }
.brands-img {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 0 10vh 0;
 }
.brands-img img {
    margin: 5vh;
 }

#logo1 {
    height: 15vh;
}
#logo2 {
    height: 15vh;
}
#logo3 {
    height: 23vh;
}
#logo4 {
    height: 20vh;
}
#logo5 {
    height: 8vh;
}
a {
    text-decoration: none;
    color: #000000;
}
footer {
    display: flex;
    flex-direction: column;
}
.footer2 {
    border-top: 0.2vh solid #000000;
    border-bottom: 0.2vh solid #000000;
    border-left: none;
    border-right: none;    
    display: flex;
    padding: 2vh 5vw;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerlast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 1vw;
}
.support-div a {
    font-family: "Poppins", sans-serif;
    margin: 0 1.5vw;
    font-size: 2vh;
    color: #ffffff;
}
.logo-footer {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1vh;
    align-items: center;
}
.logo-footer img {
    height: 8vh;
}
.footer-head {
    color:#631B1E;
    margin: 0;
    letter-spacing: -0.1vh;
    font-size: 4vh;
}
.footer-nav {
    font-family: "Poppins", sans-serif;
    font-size: 2.5vh;
    align-self: center;
}
.footer-nav a {
    margin: 0 1vh;
    color: black;
}
.payment-img {
    margin: 0;
    display: flex;
    width: 19.5vw;
    flex-wrap: wrap;
    align-items: center;
}
#img1 {
    margin: 0 1vh 1vh 0;
    height: 5vh;
}
#img2 {
    margin: 0 1vh 1vh 0;
    height: 4vh;
}

.socials-div h3 {
    margin: 0;
    font-size: 2.3vh;
}
#email-textbox {
    left: 0.1vw;
    color: white;
    height: 4.2vh;
    border: none;
    width: 100%;
    border-radius: 0.5vh;
    background-color: #000000;
    font-size: 1.5vh;
    padding: 0 1vw;
}
#email-textbox::placeholder {
    color: white;
 }
.fa-arrow-right {
    font-size: 2vh;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    margin: 0 1vw 0 0;
}
.email-div {
    margin: 0.5vh 0;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}
.socials-icons {
    display: flex;
    justify-content: end;
}
.fa-brands {
    margin: 0 0.2vw;
    font-size: 4vh;
}

/* Item Css - Start */

#item_section {
    margin: 10vh 0;
    display: grid;
    grid-template-columns: 40vw 25vw;
    grid-template-rows: 48vh 20vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 7vh 5vw;
}
#item_highlight {
    border-radius: 1vh;
    height: 55vh;
}
.img_options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 3;
    gap: 1vh;
}
.img_options img {
    height: 20vh;
    border-radius: 1vh;
    border: 0.2vh solid rgb(180, 180, 180);
}
.img_options button {
    background-image: url("../../Assets/Jackets/item0_2.png");
    padding: 10vh;
}
.item_details {
    text-align: left;
    grid-row: span 2;
    flex-direction: column;
    display: flex;
}
.item_details h1 {
    margin: 0;
    font-size: 5vh;
}
.item_details h2 {
    font-size: 3vh;
}
.size_quantity {
    display: flex;
    justify-content: space-evenly;
}
.size_quantity_div {
    text-align: center;
    font-size: 3vh;
}   
.size_quantity_div .selectbox, #quantity_box {
    text-align: center;
    width: 8vw;
    font-size: 2vh;
    height: 3.5vh;
    padding: 0.5vh;
    border: 0.2vh solid black;
}
#quantity_box {
    
    text-align: center;
    width: 5vw;
    padding: 0;
}
.addtocart_btn {
    text-align: center;
    cursor: pointer;
    border-radius: 1vh;
    border: none;
    color: #ffffff;
    background-color: rgb(242, 58, 58);
    margin: 1vw 0 0 0;
    align-self: center;
    padding: 1.5vh 1.5vw;
    font-size: 2vh;
    transition: 0.3s ease-in-out;
}
.addtocart_btn:hover {
    background-color: #ffffff;
    color: rgb(242, 58, 58);
}
.description_div li{
    font-size: 2vh;
    color: rgb(151, 151, 151);
    list-style: circle;
}
.description_div h2 {
    font-size: 3vh;
}
#other_div {
    text-align: center;
    font-size: 3vh;
}

/* Items Css - End */

@media (max-width: 1000px)
{
    .header-icons {
        font-size: 1.5vh;
    }
    header nav {
        left: unset;
        align-self: center;
    }
    header nav li, header nav li a{
        font-size: 1.5vh;
        margin: 0 1vw;
    }
  
    #search-box {
        width: 12vw;
        height: 1.5vh;
    }
    .welcome-div {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)) ,url(Assets/Backgrounds/bg2.jpg);
        width: 95vw;
        height: 90vh;
        margin: 2vw;
        align-self: center;
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 8vh;
    }
    #collections {
        flex-direction: column;
        transform: translateX(1.5vw);
        justify-content: center;
        align-items: center;
    }
    .collections-parent-div {
        grid-template-columns: 35vw 20vw 20vw;
        grid-template-rows: repeat(2, 30vh);
    }
    #collections h1 {
        font-size: 8vh;
        align-self: center;
        writing-mode: unset;
        transform: none;
    }
    .products-div {
        height: 35vh;
        width: 35vw;
        margin: 1vh;
    }
    .products-div img {
        height: 25vh;
    }
    .product-name h3{
        width: 30vw;
        font-size: 2vh;
    }
    .product-name span{
        font-size: 2vh;
    }
    .footer-head {
        font-size: 2.5vh;
    }
    .footer-nav {
        display: flex;
        font-size: 2.5vh;
        width: 100vw;
        order: 1;
        justify-content: center;
        margin: 2vw;
    }
    .payment-div {
        order: 2;
    }
    .socials-div {
        order: 3;
    }
    .socials-icons {
        justify-content: start;
    }
    .payment-img {
        width: 35vw;
    }
    #img1 {
        height: 3vh;
    }
    #img2 {
        height: 2.5vh;
    }
    .socials-div h3 {
        font-size: 1.8vh;
       
    }
    #email-textbox {
        font-size: 1.5vh;
    }
    .fa-arrow-right {
        font-size: 1.3vh;
        margin: 0 1vh 0 0;
    }
    .support-div a{
        margin: 1.5vw;
        font-size: 1.3vh;
    }
    #item_section {
        margin: 2vh 0;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 18vh 50vh;
        gap: 5vh 0vw;
    }
    #item_highlight {
        height: 50vh;
    }
    .img_options {
        order: unset;
    }
    .img_options img{
        height: 20vh;
    }
    .item_details {
        margin: 5vw;
        text-align: center;
        grid-row: unset;
    }
    .item_details h1 {
        font-size: 4vh;
    }
    .item_details h2 {
        font-size: 3vh;
    }
    .size_quantity_div {
        text-align: center;
        font-size: 2.5vh;
    }   
    .size_quantity_div .selectbox, #quantity_box {
        text-align: center;
        width: 25vw;
        font-size: 1.5vh;
    }
    #quantity_box {
        text-align: center;
        width: 15vw;
        padding: 0;
    }
    .addtocart_btn {
        margin: 2vh 0 0 0;
        padding: 1.5vh 5vw;
        font-size: 1.8vh;
    }
    .description_div li{
        text-align: left;
        font-size: 1.8vh;
    }
    #other_div {
        text-align: center;
        font-size: 2.5vh;
    }
}

@media (max-width: 750px){
    #search-box {
        border: 0.2vh solid black;
        height: 2vh;
        width: 20vw;
       
        padding: 0.5vh;
    }
    .header-portrait {
        display: flex;
    }

    .header-landscape{
        display: none;
    }
    
    .header-icons {
        font-size: 2vh;
    }
    header nav li, header nav li a{
        font-size: 1.3vh;
    }
    .welcome-div {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)) ,url(Assets/Backgrounds/bg-portrait.jpg);
        width: 95vw;
        height: 90vh;
        margin: 2vw;
        align-self: center;
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 5vh;
    }
    .welcome-text p {
        color: #ffffff;
        font-size: 2.3vh;
    }
    #collections {
        flex-direction: column;
        transform: translateX(2.5vw);
    }
    #collections h1 {
        font-size: 4vh;
        writing-mode: unset;
    }
    .collections-parent-div {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: 25vh 15vh 15vh;
    }
    .jacket-div {
        grid-column: span 2;
        grid-row: unset;
    }
    .collections-parent-div a h2 {
        font-size: 2.5vh;
    }
    .banner span {
        font-size: 1.3vh;
    }
    #trending-div h1{
        margin: 2.5vh 2.5vw;
        font-size: 3.5vh;
        text-align: center;
     }
    .products-div {
        height: 25vh;
        width: 35vw;
        margin: 1vh;
    }
    .products-div img {
        height: 15vh;
    }
    .product-name h3{
        width: 30vw;
        font-size: 1.4vh;
    }
    .product-name span{
        font-size: 1.8vh;
    }
    #view-all-btn {
        font-size: 2vh;
    }
    #brands h1 {
        font-size: 4vh;
     }
    .brands-img {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        margin: 0 0 10vh 0;
     }
    .brands-img img{
        margin: 4vw;
     }
   
    #logo1 {
        height: 6vh;
    }
    #logo2 {
        height: 7vh;
    }
    #logo3 {
        height: 10vh;
    }
    #logo4 {
        height: 10vh;
    }
    #logo5 {
        height: 3.5vh;
    }
    .footer-head {
        font-size: 2.5vh;
    }
    .footer-nav {
        display: flex;
        font-size: 1.8vh;
        width: 100vw;
        order: 1;
        justify-content: center;
        margin: 2vw;
    }
    .payment-div {
        order: 2;
    }
    .socials-div {
        order: 3;
    }
    .socials-icons {
        justify-content: start;
    }
    .payment-img {
        width: 35vw;
    }
    #img1 {
        height: 2.5vh;
    }
    #img2 {
        height: 2vh;
    }
    .socials-div h3 {
        font-size: 1.2vh;
    }
    #email-textbox {
        font-size: 1.5vh;
    }
    .fa-arrow-right {
        font-size: 1.3vh;
        margin: 0 1vh 0 0;
    }
    .support-div a{
        margin: 1.5vw;
        font-size: 1.3vh;
    }
    #item_section {
        margin: 2vh 0;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 18vh 50vh;
        gap: 5vh 0vw;
    }
    #item_highlight {
        height: 45vh;
    }
    .img_options {
        order: unset;
    }
    .img_options img{
        height: 15vh;
    }
    .item_details {
        margin: 5vw;
        text-align: center;
        grid-row: unset;
    }
    .item_details h1 {
        margin: 0;
        font-size: 3.2vh;
    }
    .item_details h2 {
        font-size: 3vh;
    }
    .size_quantity_div {
        text-align: center;
        font-size: 2.5vh;
    }   
    .size_quantity_div select, input {
        text-align: center;
        width: 25vw;
        font-size: 1.5vh;
    }
    #quantity_box {
        text-align: center;
        width: 15vw;
        padding: 0;
    }
    .addtocart_btn {
        margin: 2vh 0 0 0;
        padding: 1.5vh 5vw;
        font-size: 1.8vh;
    }
    .description_div li{
        text-align: left;
        font-size: 1.8vh;
    }
    #other_div {
        text-align: center;
        font-size: 2.5vh;
    }
}